<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<%# 本日イベントの見せ方検討 %>
<%# 一覧にTodayバッチをつける or 本日イベントで取り上げる %>
<% if false %>
<div class="">
  <h2>Today's Event</h2>
  <% if @today_events.present? %>
    <% @today_events.each do |te| %>
      <div>
        <p><% te.title %></p>
        <p><%= te.body %></p>
        <p><%= te.event_date %></p>
        <p><%= link_to '>> イベント詳細', event_path(te) %></p>
      </div>
    <% end %>
  <% else %>
    <div>
      <p>本日はイベントがありません。</p>
    </div>
  <% end %>
</div>
<% end %>


<div class="container">
  <% @events.each do |e| %>
    <div>
      <h2><%= e.title %></h2>
      <p><%= e.body %></p>
      <p><%= e.event_date %></p>
      <%= render partial: 'shared/tags', locals: { tags: e.tags } if e.tags.present? %>
      <p><%= link_to '>> イベント詳細', event_path(e) %></p>
    </div>
  <% end %>
</div>
