<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>tag_list:</strong>
  <%= render partial: 'shared/tags', locals: { tags: @event.tags } if @event.tags.present? %>
</p>


<%= link_to 'Back', events_path %>
